.logo{
    text-align: center;
}
.heading{
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
}
.heading a{
    color: blueviolet;
}
.fbody{
    background-color: blueviolet;
    color: white;
    width: 1078px;
    margin-left: 10%;
    height: 829px;
}
label,.label{
    width: 240px;
    display: inline-block;
    text-align: left;
    margin-left: 70px;
}
.applied{
    width: 174px;
}
input[type="text"],[type="email"],[type="tel"]{
    width: 168px;
}
table{
    margin-left: -3px;
    display: inline;
}
input[type="submit"],[type="reset"]{
    background-color: #8dc63f;
    color: #fff;
    border-radius: 4px;
    width: 101px;
    height: 26px;
    border-color: grey;
    font-weight: bold;
    font-size: 14px;
}
input[type="submit"]:hover,[type="reset"]:hover{
    width: 150px;
    height: 24px;
    transition-duration: 0.4s;
}
                            /* submitted html */
.b2{
    text-align: center;
}
.b3 h1{
    color: #00b52a;
    font-weight: bold;
    font-size: 53px;
}
.b3 h2{
    color: blueviolet;
    font-size: 33px;
    font-weight: bold;
}
.b3 h3 a{
    font-size: 33px;
    font-weight: bold;
    color: rebeccapurple;
    font-family: sans-serif;
}                            